.courses-section {
  padding: 50px 30px;
  
  text-align: center;
}

.courses-heading {
  font-size: 2.8rem;
  color: #030c0c;
  font-weight: 600;
  margin-bottom: 15px;
}

.courses-subtitle {
  color: #760ef5;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.course-card {
  background: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 30px 20px;
  box-shadow: 0 8px 20px rgba(5, 222, 59, 0.1);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  background: linear-gradient(135deg, hsl(124, 99%, 57%), #6af35a);
}

.course-card .icon {
  font-size: 3rem;
  margin-bottom: 15px;
}

.course-card h2 {
  font-size: 1.4rem;
  color: rgb(8, 186, 251);
  font-weight: bold;
  margin-bottom: 10px;
}

.course-card p {
  color: #0c0303d6;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.course-card button {
  background:rgb(18, 40, 236);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.course-card button:hover {
  background: #155ab6;
}
.footer-button{
    padding: 0;
    margin: 0;

}
