  *{
    padding: 0;
    margin: 0;
  }
.login-container {
  min-height: 100vh;   
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b467a;
  padding: 10px;
}



.login-box {
  width: 350px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}


.login-title {
  color: #206bc4;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}


.login-subtitle {
  color: #444;
  margin-bottom: 20px;
}


.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #5bec58;
  outline: none;
  font-size: 15px;
}

.login-input:focus {
  border-color: #206bc4;
  box-shadow: 0 0 4px rgba(32, 107, 196, 0.4);
}


.login-btn {
  width: 100%;
  padding: 12px;
  background: #206bc4;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #185a9f;
}


.login-footer {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-link {
  color: #206bc4;
  cursor: pointer;
  font-weight: 600;
}

.signup-link:hover {
  text-decoration: underline;
}

